.inicio-container {
    background-color: aliceblue;
    width: 600px;
    padding: 350px;
    border: 2px solid #000;
    border-radius: 15px;
}

.lista-simples {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.linha {
  padding: 10px;
  width: 100%;  
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}
